<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-light">

    <a class="navbar-brand"
       [routerLink]="['/welcome']">
      <img [src]="logoImageURL"
           [title]="logoImageTitle | uppercase"
           [style.width.px]="logoImageWidth"
           [style.width.px]="logoImageHeight"
           [style.margin.px]="logoImageMargin">
      {{title}}
    </a>
    <ul class="nav nav-pills">
      <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
      <li><a class="nav-link" [routerLink]="['/plants']">Plant List</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
