<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter By:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="h4">Filtered By: {{listFilter}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table"
             *ngIf="plants && plants.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()" >
                {{showImage ? "Hide" : "Show" }} Image
              </button>
            </th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Sow</th>
            <th>Depth</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plant of plants">
          <td>
            <img *ngIf="showImage"
                 [src]="plant.ImageURL"
                 [title]="plant.Name"
                 [style.width.px]="imageWidth"
                 [style.margin.px]="imageMargin" />
          </td>
          <td>{{plant.Name}}</td>
          <td>{{plant.Code}}</td>
          <td>{{plant.Description}}</td>
          <td>{{plant.Sow}}</td>
          <td>{{plant.Depth}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
